<html>
	<head>
		<title>Compare Prices!</title>
	</head>
	<body>
		<a href="/mains/new"><button>Go Back</button></a>
		<a href="/signout"><button>Logoff</button></a>
			<!-- Amazon -->
			<table>				
				<tr>
					<th></th>
					<th>Item</th>
					<th>Amazon Price</th>
					<th>Amazon Rating</th>
				</tr>
				<% @amazon.each do |item| %>
				<tr>											
					<% item[2].each do |image| %>
					<td><a href="<%= item[3][0] %>"><img src="<%= image %>"></a></td>
					<% end %>						
					<td><a href="<%= item[3][0] %>"><%= item[0] %></a></td>
					<td><%= item[1] %></td>
					<% if item[4].blank? %>
					<td><img src="/images/0star.png">No Ratings</td>
					<% else %>
					<% case item[4].split[0].to_f
						when 4.7..5 %><td><img src="/images/5star.png"><%= item[4] %></td>
					<%when 4.2..4.6 %><td><img src="/images/4.5star.png"><%= item[4] %></td>
					<%when 3.8..4.1 %><td><img src="/images/4star.png"><%= item[4] %></td>
					<%when 3.2..3.7 %><td><img src="/images/3.5star.png"><%= item[4] %></td>
					<%when 2.8..3.1 %><td><img src="/images/3star.png"><%= item[4] %></td>
					<%when 2.2..2.7 %><td><img src="/images/2.5star.png"><%= item[4] %></td>
					<%when 1.8..2.1 %><td><img src="/images/2star.png"><%= item[4] %></td>
					<%when 1.2..1.7 %><td><img src="/images/1.5star.png"><%= item[4] %></td>
					<%when 0.7..1.1 %><td><img src="/images/1star.png"><%= item[4] %></td>
					<%when 0..0.6 %><td><img src="/images/0.5star.png"><%= item[4] %></td>
					<% end %>
					<% end %>
					<!-- this is how we get only the first chunk of review: <p><%= item[4].split[0]%></p> -->
				</tr>
				<% end %>
			</table>
			<!-- Walmart -->
			<table>		      	
			   	<tr>
			   		<th></th>	
					<th>Item</th>
					<th>Walmart Price</th>
					<th>Walmart Rating</th>
				</tr>
				<% @walmart.each do |item| %>
				<tr>					
					<% item[2].each do |image| %>
					<td><a href="http://www.walmart.com<%= item[3][0] %>"><img src="<%= image %>"></a></td>
					<% end %>
					<td><a href="http://www.walmart.com<%= item[3][0]%>"><%= item[0] %></a></td>
					<td><%= item[1] %></td>
					<% if item[4].blank? %>
					<td><img src="/images/0star.png">No Ratings</td>
					<% else %>
					<% case item[4].split[0].to_f
						when 4.7..5 %><td><img src="/images/5star.png"><%= item[4] %></td>
					<%when 4.2..4.6 %><td><img src="/images/4.5star.png"><%= item[4] %></td>
					<%when 3.8..4.1 %><td><img src="/images/4star.png"><%= item[4] %></td>
					<%when 3.2..3.7 %><td><img src="/images/3.5star.png"><%= item[4] %></td>
					<%when 2.8..3.1 %><td><img src="/images/3star.png"><%= item[4] %></td>
					<%when 2.2..2.7 %><td><img src="/images/2.5star.png"><%= item[4] %></td>
					<%when 1.8..2.1 %><td><img src="/images/2star.png"><%= item[4] %></td>
					<%when 1.2..1.7 %><td><img src="/images/1.5star.png"><%= item[4] %></td>
					<%when 0.7..1.1 %><td><img src="/images/1star.png"><%= item[4] %></td>
					<%when 0..0.6 %><td><img src="/images/0.5star.png"><%= item[4] %></td>
					<% else %><td><img src="/images/0star.png">No Ratings</td>
					<% end %>
					<% end %>
				</tr>
				<% end %>				
			</table>
			<!-- Bestbuy -->
			<table>		      	
			   	<tr>
				   	<th></th>
					<th>Item</th>
					<th>Bestbuy Price</th>
					<th>Bestbuy Rating</th>
				</tr>
				<% @bestbuy.each do |item| %>
				<tr>					
					<% item[2].each do |image| %>
					<td><a href="http://www.bestbuy.com<%= item[3][0] %>"><img src="<%= image %>"></a></td>
					<% end %>				
					<td><a href="http://www.bestbuy.com<%= item[3][0]%>"><%= item[0] %></a></td>
					<td><%= item[1] %></td>
					<% if item[4].blank? %>
					<td><img src="/images/0star.png">No Ratings</td>
					<% else %>
					<% case item[4].split[0].to_f
						when 4.7..5 %><td><img src="/images/5star.png"><%= item[4] %></td>
					<%when 4.2..4.6 %><td><img src="/images/4.5star.png"><%= item[4] %></td>
					<%when 3.8..4.1 %><td><img src="/images/4star.png"><%= item[4] %></td>
					<%when 3.2..3.7 %><td><img src="/images/3.5star.png"><%= item[4] %></td>
					<%when 2.8..3.1 %><td><img src="/images/3star.png"><%= item[4] %></td>
					<%when 2.2..2.7 %><td><img src="/images/2.5star.png"><%= item[4] %></td>
					<%when 1.8..2.1 %><td><img src="/images/2star.png"><%= item[4] %></td>
					<%when 1.2..1.7 %><td><img src="/images/1.5star.png"><%= item[4] %></td>
					<%when 0.7..1.1 %><td><img src="/images/1star.png"><%= item[4] %></td>
					<%when 0..0.6 %><td><img src="/images/0.5star.png"><%= item[4] %></td>
					<% else %><td><img src="/images/0star.png">No Ratings</td>
					<% end %>
					<% end %>
				</tr>
				<% end %>
			</table>
			<!-- Newegg -->
			<table>		      	
			   	<tr>
				   	<th></th>
					<th>Item</th>
					<th>Newegg Price</th>
					<th>Newegg Rating</th>
					<th></th>
				</tr>
				<% @newegg.each do |item| %>
				<tr>					
					<% item[2].each do |image| %>
					<td><a href="<%= item[3][0] %>"><img src="<%= image %>"></a></td>
					<% end %>					
					<td><a href="<%= item[3][0]%>"><%= item[0] %></a></td>
					<td><%= item[1] %></td>
					<% if item[4].blank? %>
					<td><img src="/images/0star.png">No Ratings</td>
					<% else %>
					<% case item[4].split[0].to_f
						when 4.7..5 %><td><img src="/images/5star.png"><%= item[4] %></td>
					<%when 4.2..4.6 %><td><img src="/images/4.5star.png"><%= item[4] %></td>
					<%when 3.8..4.1 %><td><img src="/images/4star.png"><%= item[4] %></td>
					<%when 3.2..3.7 %><td><img src="/images/3.5star.png"><%= item[4] %></td>
					<%when 2.8..3.1 %><td><img src="/images/3star.png"><%= item[4] %></td>
					<%when 2.2..2.7 %><td><img src="/images/2.5star.png"><%= item[4] %></td>
					<%when 1.8..2.1 %><td><img src="/images/2star.png"><%= item[4] %></td>
					<%when 1.2..1.7 %><td><img src="/images/1.5star.png"><%= item[4] %></td>
					<%when 0.7..1.1 %><td><img src="/images/1star.png"><%= item[4] %></td>
					<%when 0..0.6 %><td><img src="/images/0.5star.png"><%= item[4] %></td>
					<% end %>
					<% end %>
				</tr>
				<% end %>
			</table>
			<!-- Target -->
			<table>		      	
			   	<tr>
			   		<th></th>
					<th>Item</th>
					<th>Target Price</th>
					<th>Target Rating</th>
					<th></th>
				</tr>
				<% @target.each do |item| %>
				<tr>					
					<% item[2].each do |image| %>
					<td><a href="<%= item[3][0] %>"><img src="<%= image %>"></a></td>
					<% end %>				
					<td><a href="<%= item[3][0]%>"><%= item[0] %></a></td>
					<td><%= item[1] %></td>
					<% if item[4].blank? %>
					<td><img src="/images/0star.png">No Ratings</td>
					<% else %>
					<% case item[4].split[0].to_f
						when 4.7..5 %><td><img src="/images/5star.png"><%= item[4] %></td>
					<%when 4.2..4.6 %><td><img src="/images/4.5star.png"><%= item[4] %></td>
					<%when 3.8..4.1 %><td><img src="/images/4star.png"><%= item[4] %></td>
					<%when 3.2..3.7 %><td><img src="/images/3.5star.png"><%= item[4] %></td>
					<%when 2.8..3.1 %><td><img src="/images/3star.png"><%= item[4] %></td>
					<%when 2.2..2.7 %><td><img src="/images/2.5star.png"><%= item[4] %></td>
					<%when 1.8..2.1 %><td><img src="/images/2star.png"><%= item[4] %></td>
					<%when 1.2..1.7 %><td><img src="/images/1.5star.png"><%= item[4] %></td>
					<%when 0.7..1.1 %><td><img src="/images/1star.png"><%= item[4] %></td>
					<%when 0..0.6 %><td><img src="/images/0.5star.png"><%= item[4] %></td>
					<% end %>
					<% end %>
				</tr>
				<% end %>
			</table>
	</body>
</html>