<html>
<head>
	<title></title>
</head>
<body>
	<table>
			<!-- Amazon -->
				<tr>
				<th>Item</th>
				<th>Amazon Price</th>
				</tr>
				<% @amazon.each do |item| %>
					<tr>					
						
						<td><a href="<%= item[3][0] %>"><%= item[0] %></a></td>
						<td><%= item[1] %></td>
							<% item[2].each do |image| %>
								<td><a href="<%= item[3][0] %>"><img src="<%= image %>"></a></td>
							<% end %>						
					</tr>
				<% end %>
		
			<!-- Walmart -->
		<table>		      	
	   	<tr>
				<th>Item</th>
				<th>Walmart Price</th>
				
		</tr>
				<% @walmart.each do |item| %>
					<tr>					
						<td><a href="http://www.walmart.com<%= item[3][0]%>"><%= item[0] %></a></td>
						<td><%= item[1] %></td>
						<% item[2].each do |image| %>
								<td><a href="http://www.walmart.com<%= item[3][0] %>"><img src="<%= image %>"></a></td>
							<% end %>
					</tr>
				<% end %>
				
		</table>

			<!-- Bestbuy -->
		<table>		      	
	   	<tr>
				<th>Item</th>
				<th>Bestbuy Price</th>
				
				</tr>
				<% @bestbuy.each do |item| %>
					<tr>					
						<td><a href="http://www.bestbuy.com<%= item[3][0]%>"><%= item[0] %></a></td>
						<td><%= item[1] %></td>
						<% item[2].each do |image| %>
								<td><a href="http://www.bestbuy.com<%= item[3][0] %>"><img src="<%= image %>"></a></td>
							<% end %>
					

					</tr>
			<% end %>
		</table>

		

		<!-- Newegg -->
		<table>		      	
	   	<tr>
				<th>Item</th>
				<th>Newegg Price</th>
				
				</tr>
				<% @newegg.each do |item| %>
					<tr>					
						<td><a href="<%= item[3][0]%>"><%= item[0] %></a></td>
						<td><%= item[1] %></td>
						<% item[2].each do |image| %>
								<td><a href="<%= item[3][0] %>"><img src="<%= image %>"></a></td>
							<% end %>
					

					</tr>
			<% end %>
		</table>


			<!-- Target -->
		<table>		      	
	   	<tr>
				<th>Item</th>
				<th>Target Price</th>
				
				</tr>
				<% @target.each do |item| %>
					<tr>					
						<td><a href="<%= item[3][0]%>"><%= item[0] %></a></td>
						<td><%= item[1] %></td>
						<% item[2].each do |image| %>
								<td><a href="<%= item[3][0] %>"><img src="<%= image %>"></a></td>
							<% end %>
					

					</tr>
			<% end %>
		</table>


			<!-- Frys -->
		<table>		      	
	   	<tr>
				<th>Item</th>
				<th>Frys Price</th>
				
				</tr>
				<% @frys.each do |item| %>
					<tr>					
						<td><a href="<%= item[3][0]%>"><%= item[0] %></a></td>
						<td><%= item[1] %></td>
						<% item[2].each do |image| %>
								<td><a href="<%= item[3][0] %>"><img src="<%= image %>"></a></td>
							<% end %>
					

					</tr>
			<% end %>
		</table>
	

		

</body>
</html>