<html>
	<head>
		<title>Compare Prices!</title>
	</head>
	<body>
			<a class="btn btn-primary" href="/mains/new">
				<i class=" fa fa-arrow-left"></i>Go Back</a>
			<a class="btn btn-danger" href="/signout">
				<i class="fa fa-trash-o fa-lg"></i>Logoff</a>
			<!-- Amazon -->
			<h2 class="store-title">Amazon</h2>
			<div class="row">
				<% @amazon.each do |item| %>
				<div class="col-md-4">
					<% item[2].each do |image| %>
					<a href="<%= item[3][0] %>"><img src="<%= image %>"></a>
					<% end %>						
					<a class="itemtitle" href="<%= item[3][0] %>"><%= item[0].truncate(40, separator: ' ') %></a><br>
					<% if item[1].blank? %>
						<span class="price">Used</span>
					<% else %>
						<span class="price"><%= item[1] %></span>
					<% end %>
					<% if item[4].blank? %>
					<img src="/images/0star.png">No Ratings
					<% else %>
					<% if %>
					<% case item[4].split[0].to_f
						when 4.7..5 %><img class="starimg" src="/images/5star.png"><br><%= item[4].sub!("stars", "")%>
					<%when 4.2..4.6 %><img class="starimg" src="/images/4.5star.png"><br><%= item[4].sub!("stars", "")%>
					<%when 3.8..4.1 %><img class="starimg" src="/images/4star.png"><br><%= item[4].sub!("stars", "")%>
					<%when 3.2..3.7 %><img class="starimg" src="/images/3.5star.png"><br><%= item[4].sub!("stars", "")%>
					<%when 2.8..3.1 %><img class="starimg" src="/images/3star.png"><br><%= item[4].sub!("stars", "")%>
					<%when 2.2..2.7 %><img class="starimg" src="/images/2.5star.png"><br><%= item[4].sub!("stars", "")%>
					<%when 1.8..2.1 %><img class="starimg" src="/images/2star.png"><br><%= item[4].sub!("stars", "")%>
					<%when 1.2..1.7 %><img class="starimg" src="/images/1.5star.png"><br><%= item[4].sub!("stars", "")%>
					<%when 0.7..1.1 %><img class="starimg" src="/images/1star.png"><%= item[4].sub!("stars", "")%>
					<%when 0..0.6 %><img class="starimg" src="/images/0.5star.png"><%= item[4].sub!("stars", "")%>
					<% end %>
					<% end %>
					<% end %>
					<!-- this is how we get only the first chunk of review: <p><%= item[4].split[0]%></p> -->
					</div>										
				<% end %>
				</div>
			<!-- Walmart -->
			<h2 class="store-title">Walmart</h2>
			<div class="row">
				<% @walmart.each do |item| %>
					<div class="col-md-4">		
						<% item[2].each do |image| %>
						<a href="http://www.walmart.com<%= item[3][0] %>"><img src="<%= image %>"></a>
						<% end %>
						<a class="itemtitle" href="http://www.walmart.com<%= item[3][0]%>"><%= item[0].truncate(40, separator: ' ') %></a>
						<span class="price"><%= item[1] %></span>
						<% if item[4].blank? %>
						<img src="/images/0star.png">No Ratings
						<% else %>
						<% case item[4].split[0].to_f
							when 4.7..5 %><img src="/images/5star.png"><%= item[4].split[0] %> out of 5
						<%when 4.2..4.6 %><img src="/images/4.5star.png"><%= item[4].split[0] %> out of 5
						<%when 3.8..4.1 %><img src="/images/4star.png"><%= item[4].split[0] %> out of 5
						<%when 3.2..3.7 %><img src="/images/3.5star.png"><%= item[4].split[0] %> out of 5
						<%when 2.8..3.1 %><img src="/images/3star.png"><%= item[4].split[0] %> out of 5
						<%when 2.2..2.7 %><img src="/images/2.5star.png"><%= item[4].split[0] %> out of 5
						<%when 1.8..2.1 %><img src="/images/2star.png"><%= item[4].split[0] %> out of 5
						<%when 1.2..1.7 %><img src="/images/1.5star.png"><%= item[4].split[0] %> out of 5
						<%when 0.7..1.1 %><img src="/images/1star.png"><%= item[4].split[0] %> out of 5
						<%when 0..0.6 %><img src="/images/0.5star.png"><%= item[4].split[0] %> out of 5
						<% end %>
						<% end %>
						</div>
				<% end %>
			</div>
			<!-- Bestbuy -->
			<h2 class="store-title">Bestbuy</h2>
			<div class="row">
				<% @bestbuy.each do |item| %>
					<div class="col-md-4">
						<% item[2].each do |image| %>
						<a href="http://www.bestbuy.com<%= item[3][0] %>"><img src="<%= image %>"></a>
						<% end %>				
						<a class="itemtitle" href="http://www.bestbuy.com<%= item[3][0]%>"><%= item[0] %></a>
						<span class="price"><%= item[1] %></span>
						<% if item[4].blank? %>
						<img src="/images/0star.png">No Ratings
						<% else %>
						<% case item[4].split[0].to_f
							when 4.7..5 %><img src="/images/5star.png"><%= item[4] %> out of 5 
						<%when 4.2..4.6 %><img src="/images/4.5star.png"><%= item[4] %> out of 5 
						<%when 3.8..4.1 %><img src="/images/4star.png"><%= item[4] %> out of 5 
						<%when 3.2..3.7 %><img src="/images/3.5star.png"><%= item[4] %> out of 5 
						<%when 2.8..3.1 %><img src="/images/3star.png"><%= item[4] %> out of 5 
						<%when 2.2..2.7 %><img src="/images/2.5star.png"><%= item[4] %> out of 5 
						<%when 1.8..2.1 %><img src="/images/2star.png"><%= item[4] %> out of 5 
						<%when 1.2..1.7 %><img src="/images/1.5star.png"><%= item[4] %> out of 5 
						<%when 0.7..1.1 %><img src="/images/1star.png"><%= item[4] %> out of 5 
						<%when 0..0.6 %><img src="/images/0.5star.png"><%= item[4] %> out of 5 
						<% else %><img src="/images/0star.png">No Ratings
						<% end %>
						<% end %>
					</div>					
				<% end %>
			</div>
			<!-- Newegg -->
			<h2 class="store-title">Newegg</h2>
			<div class="row">
				<% @newegg.each do |item| %>
				<div class="col-md-4">
					<% item[2].each do |image| %>
					<a href="<%= item[3][0] %>"><img src="<%= image %>"></a>
					<% end %>					
					<a class="itemtitle" href="<%= item[3][0]%>"><%= item[0] %></a>
					<span class="price"><%= item[1].gsub(/["from", "–"]/, "") %></span>
					<% if item[4].blank? %>
					<img src="/images/0star.png">No Ratings
					<% else %>
					<% item[4].each do |t| %>
					<% case t.split[2].to_f
						when 5 %><img src="/images/5star.png"><%= t.split[2] %> out of 5
					<%when 4 %><img src="/images/4star.png"><%= t.split[2] %> out of 5
					<%when 3 %><img src="/images/3star.png"><%= t.split[2] %> out of 5
					<%when 2 %><img src="/images/2star.png"><%= t.split[2] %> out of 5
					<%when 1 %><img src="/images/1star.png"><%= t.split[2] %> out of 5
					<% end %>
					<% end %>
					<% end %>
				</div>				
				<% end %>
			</div>
			<!-- Target -->
			<h2 class="store-title">Target</h2>
			<div class="row">
				<% @target.each do |item| %>
					<div class="col-md-4">
						<% if item[2].blank? %>
							<img src="/images/no_image.jpeg">
						<% end %>
						<% item[2].each do |image| %>
							<a href="<%= item[3][0] %>"><img src="<%= image %>"></a>
						<% end %>				
						<a class="itemtitle" href="<%= item[3][0]%>"><%= item[0] %></a>
						<span class="price"><%= item[1].sub!("Sale Price", "") %></span>
						<% if item[4].blank? %>
						<img src="/images/0star.png">No Ratings
						<% else %>
						<% case item[4].split[0].to_f
							when 4.7..5 %><img src="/images/5star.png"><%= item[4] %> out of 5 stars
						<%when 4.2..4.6 %><img src="/images/4.5star.png"><%= item[4] %> out of 5 stars
						<%when 3.8..4.1 %><img src="/images/4star.png"><%= item[4] %> out of 5 stars
						<%when 3.2..3.7 %><img src="/images/3.5star.png"><%= item[4] %> out of 5 stars
						<%when 2.8..3.1 %><img src="/images/3star.png"><%= item[4] %> out of 5 stars
						<%when 2.2..2.7 %><img src="/images/2.5star.png"><%= item[4] %> out of 5 stars
						<%when 1.8..2.1 %><img src="/images/2star.png"><%= item[4] %> out of 5 stars
						<%when 1.2..1.7 %><img src="/images/1.5star.png"><%= item[4] %> out of 5 stars
						<%when 0.7..1.1 %><img src="/images/1star.png"><%= item[4] %> out of 5 stars
						<%when 0..0.6 %><img src="/images/0.5star.png"><%= item[4] %> out of 5 stars
						<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
	</body>
</html>