<html>
<head>
	<title></title>
</head>
<body>
	<a href="/mains/new"><button>Go Back</button></a>
	<a href="/signout"><button>Logoff</button></a>
	<table>		      	
	   	<tr>
			<th>Item</th>
			<th>Amazon Price</th>
			</tr>
			<% @amazon.each do |item| %>
				<tr>								
					<td><a href="<%= item[3][0] %>"><%= item[0] %></a></td>
					<td><%= item[1] %></td>
					<% item[2].each do |image| %>
					<td><a href="<%= item[3][0] %>"><img src="<%= image %>"></a></td>
					<% end %>
				</tr>
			<% end %>
		</table>

		
		<table>		      	
	   	<tr>
				<th>Item</th>
				<th>Craigslist Price</th>
				
				</tr>
				<% @craigslist.each do |item| %>
					<tr>					
						<td><%= item[0] %></td>
						<td><%= item[1] %></td>
						
					</tr>
				<% end %>
		</table>


		<table>		      	
	   	<tr>
				<th>Item</th>
				<th>Walmart Price</th>
				
				</tr>
				<% @walmart.each do |item| %>
					<tr>					
						<td><a href="/<%= item[3] %>"><%= item[0] %></a></td>
						<td><%= item[1] %></td>
						<% item[2].each do |image| %>
						<td><img src="<%= image %>"></td>
						<% end %>
					</tr>
				<% end %>
		</table>

		<table>		      	
	   	<tr>
				<th>Item</th>
				<th>Bestbuy Price</th>
				
				</tr>
				<% @bestbuy.each do |item| %>
					<tr>					
						<td><%= item[0] %></td>
						<td><%= item[1] %></td>
						<% item[2].each do |image| %>
						<td><img src="<%= image %>"></td>
						<% end %>
					</tr>
				<% end %>
		</table>


</body>
</html>